<div class="container">
  <header class="profile-header">
    <h1 class="main-heading">Hello, I'm {{ site.author }},</h1>
    <p class="profile-description">{{ site.data.pages.education.profile.description }}</p>
  </header>

  <section class="education-section">
    <h2 class="section-heading">Where I've Studied</h2>

    {% for edu in site.data.Pages.education.education %}
    <div class="institution">
      <h3>
        <a href="{{ edu.institution_url }}" class="institution-link">{{ edu.degree }} at {{ edu.institution }}</a>
        <a href="{{ edu.institution_url }}">
          <img src="{{ site.new_baseurl }}{{ edu.institution_logo }}" alt="{{ edu.institution }} Logo" class="institution-logo">
      </a>
      </h3>
      
      <p>{{ edu.description }}</p>
    </div>
    {% endfor %}

    {% for project in site.data.pages.education.projects %}
    <div class="project">
        <h3>Project Presentation on YouTube: {{ project.title }}</h3>
        <p>{{ project.description }}</p>
        <a href="{{ project.youtube_link }}">
            <img src="{{ site.new_baseurl }}{{ project.project_logo }}" alt="{{ project.title }} Logo" class="project-logo">
        </a>
        <p>{{ project.impact }}</p>
    </div>
{% endfor %}
  </section>
</div>