<!-- Footer Section -->
<footer class="footer">
  <div class="container">
  <!-- Contact Info Section -->
  <div class="footer-content">
    <div class="footer-contact-info">
      <!-- Phone Contact Section -->
      <section class="contact-item">
        <h3 class="contact-label">Phone</h3>
        <a href="tel:{{ site.phone }}" class="contact-link" aria-label="Phone Number">{{ site.phone_number }}</a>
      </section>
      <!-- Email Contact Section -->
      <section class="contact-item">
        <h3 class="contact-label">Email</h3>
        <a href="mailto:{{ site.email }}" class="contact-link" aria-label="Email Address">{{ site.email }}</a>
      </section>
      <!-- Social Media Contact Section -->
      <section class="contact-item">
        <h3 class="contact-label">Social Media</h3>
        {% include social-media.html %}
      </section>
    </div>
  </div>
  <!-- Footer Message Section -->
  <div class="footer-msg">
    © <span id="get-current-year"></span> {{ site.footer-msg }}
  </div>
</div>
</footer>