<nav class="sticky-nav" aria-label="Main navigation">
    <div class="nav-container">
        <a href="{{ site.new_baseurl }}/" class="nav-brand" aria-label="Homepage">
            <img src="{{ site.author-image }}" alt="Flowbite Logo" class="nav-logo">
            
            
        </a>
        <ul class="nav-menu" id="navMenu" aria-hidden="true">
            {% if page.url != "/" %}
            <li class="nav-item">
                <a href="{{ site.new_baseurl }}/" class="nav-link">Home</a>
            </li>
            {% endif %}
            {% for link in site.nav-menu %}
            <li class="nav-item">
                <a href="{{ site.new_baseurl }}{{ link.permalink }}" class="nav-link {% if page.permalink == link.permalink %}active{% endif %}" aria-current="{% if page.permalink == link.permalink %}page{% endif %}">
                    {{ link.text }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <img src="{{ site.new_baseurl }}\assets\img\icons\menu-icon.svg" alt="Menu" class="nav-menu-icon" id="navMenuIcon" onclick="toggleMenu()">

    </div>
</nav>

