/* skills_grid.css */
/* @import url('../../common/palettes.css');
@import url('../../common/font.css');
@import url('../../common/common.css'); */

.skills-grid {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: var(--background-color);
    
}




@media screen and (max-width: 600px) {
    .skills-grid {
        display: block;
        width: 100%;
        text-align: center;
    }
    .skills-grid th[colspan="3"] {
        display: none;
    }
}