<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <title>My Portfolio Website</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include head.html %}
</head>

<body class='main-content'>
    {{ content }}
</body>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const menuIcon = document.querySelector('.menu-icon');
    const navMenu = document.querySelector('.nav-menu');
    const yearSpan = document.getElementById("get-current-year");
    const menuIconNav = document.querySelector('.nav-menu-icon');

    // Function for menu icon
    menuIcon.addEventListener('click', () => {
        const expanded = menuIcon.getAttribute('aria-expanded') === 'true' || false;
        menuIcon.setAttribute('aria-expanded', !expanded);
        navMenu.setAttribute('aria-hidden', expanded);
    });

    // Function for getting the current year in the footer
    if (yearSpan) {
      yearSpan.textContent = new Date().getFullYear();
    }

    // Initialize all carousels on page load
    initializeAllCarousels();

    // Function for opening navbar on mobile
    menuIconNav.addEventListener('click', () => {
        navMenu.classList.toggle('block');
    });
  });

  // Function for opening navbar on mobile
  function toggleNavbar(collapseID) {
    const elem = document.getElementById(collapseID);
    elem.classList.toggle("hidden");
    elem.classList.toggle("block");
  }

  // Function for dropdowns
  function openDropdown(event, dropdownID) {
    const dropdownElem = document.getElementById(dropdownID);
    dropdownElem.classList.toggle("hidden");
    dropdownElem.classList.toggle("block");
  }

  // Function for show/hide table of contents
  function toggleTOC() {
    const toc = document.getElementById('toc');
    toc.style.display = toc.style.display === "block" ? "none" : "block";
  }

</script>

</html>