
body {
    font-family: var(--font-sans);
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--font-size-base);
    margin: 0;
    padding-top: var(--body-padding-top);
    line-height: 1.6;
    font-size: var(--font-size-md);
    line-height: var(--line-height-base);
}

.sticky-nav {
    background-color: var(--nav-bg-color);
    color: var(--nav-text-color);
    padding: var(--nav-padding);
    box-shadow: 0 4px 6px var(--shadow-light);
    transition: background-color 0.3s, padding 0.3s;
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}


/* Responsive breakpoints for the container widths */
@media (min-width: 576px) { .container { width: var(--container-sm); } }
@media (min-width: 768px) { .container { width: var(--container-md); } }
@media (min-width: 992px) { .container { width: var(--container-lg); } }
@media (min-width: 1200px) { .container { width: var(--container-xl); } }
@media (min-width: 1400px) { .container { width: var(--container-xxl); } }

.nav-container {
    max-width: var(--max-width);
    margin: 0 auto;
    display: var(--d-flex);
    align-items: var(--align-items-center);
    justify-content: var(--justify-content-between);
    padding: 0 1rem;
}

.nav-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-logo {
    height: var(--nav-logo-height);
    width: auto;
    margin: 1rem;
    transition: transform 0.3s ease-in-out;
    object-fit: contain;
}

.nav-logo:hover {
    transform: scale(1.15);
}

.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: var(--nav-item-spacing);
}

.nav-link {
    color: var(--nav-text-color);
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.nav-link:hover, .nav-link:focus, .nav-link.active {
    background-color: var(--nav-hover-bg-color);
    border-radius: 4px;
}

.nav-button {
    background-color: var(--nav-button-bg-color);
    color: var(--nav-text-color);
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-block;
}

.nav-button:hover, .nav-button:focus {
    background-color: var(--nav-button-hover-bg-color);
}

@media (max-width: 768px) {
    .nav-menu {
        display: var(--d-none);
        flex-direction: column;
        width: 100%;
        position: var(--position-absolute);
        top: 100%;
        left: 0;
        background-color: var(--nav-bg-color);
    }

    .nav-menu-icon {
        display: block;
        cursor: pointer;
        color: var(--nav-text-color);
        margin-right: 1.5rem;
    }

    .nav-item {
        width: 100%;
        border-top: 1px solid var(--nav-hover-bg-color);
    }

    .nav-link, .nav-button {
        width: 100%;
        text-align: center;
        padding: 1rem;
    }
}

.container, .grid-container {
    padding: 20px;
    margin: 0 auto; /* This will center the container horizontally */
    max-width: var(--max-width);
    box-sizing: border-box;
    font-family: var(--font-sans);
    font-size: var(--font-size-md);
    line-height: var(--line-height-base);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.container {
    background-color: var(--background-color);
}

.container h2 {
    color: var(--text-color-primary);
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: var(--font-size-xl);
    line-height: var(--line-height-tight);
    font-weight: var(--font-weight-bold);
}

.container h3 {
    color: var(--text-color-primary);
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: var(--font-size-lg);
    line-height: var(--line-height-tight);
    font-weight: var(--font-weight-bold);
}

.container p {
    text-align: justify;
    margin-bottom: 20px;
    color: var(--text-color-secondary);
    font-size: var(--font-size-md);
    line-height: var(--line-height-relaxed);
}


/* common.css */
table th, table td {
    border: 1px solid var(--table-border-color, #ddd);
    padding: 0.5em;
    text-align: left;
    color: var(--text-color-primary, #333);
    font-size: var(--font-size-md);
    line-height: var(--line-height-base);
    font-weight: var(--font-weight-bold);
}

table th {
    background-color: var(--table-header-bg-color);
    color: var(--table-header-text-color);
    font-size: var(--font-size-xl);
}    

table tr:hover {
    background-color: var(--table-hover-bg-color);
}

table img {
    width: 50px;
    height: auto;
    display: block;
    align-items: center;
    align-content: center;
}
@media screen and (max-width: 600px) {
    table {
        display: var(--d-block);
        width: 100%;
        text-align: center;
    }
    table th[colspan="3"] {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    body {
        font-size: var(--font-size-md);
    }
}